<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head'); %>

<body class="font-main dark:bg-slate-900 dark:text-white" id="themeSwitcher">
  <header class="flex items-center justify-center flex-col pt-40 mb-10">
    <%- include('./partials/header'); %>
    <p class="mt-4">
      Data last modified <%= update %>
    </p>
  </header>
  <main>
    <div class="flex flex-col items-center justify-center">
      <form hx-get="/trades" hx-swap="innerHTML" hx-target="#trades" hx-indicator="#loading"
        class="flex flex-col gap-4 w-80">
        <div class="flex gap-2 justify-between">
          <label>Buyer</label>
          <input type="text" id="buyer" name="buyer"
            class="max-w-36 my-1 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white"
            value="<%= qs.buyer || "" %>">
        </div>
        <div class="flex gap-2 justify-between">
          <label>Seller</label>
          <input type="text" id="seller" name="seller"
            class="max-w-36 my-1 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white"
            value="<%= qs.seller || "" %>">
        </div>
        <div class="flex gap-2 justify-between">
          <label>Price</label>
          <div>
            <input type="number" min="0" step="0.01" id="minprice" name="minprice"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white max-w-36 my-1"
              value="<%= qs.minprice || "" %>">
            <input type="number" min="0" step="0.01" id="maxprice" name="maxprice"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white max-w-36 my-1"
              value="<%= qs.maxprice || "" %>">
          </div>
        </div>
        <div class="flex gap-2 justify-between">
          <label>Timestamp</label>
          <div>
            <input type="date" id="beforetime" name="beforetime" type="text"
              class="my-1 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white"
              placeholder="Select date" value="<%= qs.beforetime || "" %>">
            <input type="date" id="sincetime" name="sincetime" type="text"
              class="my-1 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white"
              placeholder="Select date" value="<%= qs.sincetime || ""  %>">
          </div>
        </div>
        <div class="flex gap-2 justify-between">
          <label>Season</label>
          <input type="number" min="1" max="3" id="season" name="season"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white max-w-36"
            value="<%= qs.season || "" %>">
        </div>
        <div class="flex gap-2 justify-between">
          <label>Category</label>
          <select id="category" name="category"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white max-w-36">
            <option <%=qs.category==='All' ? 'selected' : '' %>>All</option>
            <option <%=qs.category==='Common' ? 'selected' : '' %>>Common</option>
            <option <%=qs.category==='Uncommon' ? 'selected' : '' %>>Uncommon</option>
            <option <%=qs.category==='Rare' ? 'selected' : '' %>>Rare</option>
            <option <%=qs.category==='Ultra Rare' ? 'selected' : '' %>>Ultra Rare</option>
            <option <%=qs.category==='Epic' ? 'selected' : '' %>>Epic</option>
            <option <%=qs.category==='Legendary' ? 'selected' : '' %>>Legendary</option>
          </select>
        </div>
        <div class="flex gap-2 justify-between">
          <label>Sort</label>
          <div>
            <select id="sortval" name="sortval"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-36 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white max-w-36 my-1">
              <option <%=qs.sortval && qs.sortval.toLowerCase()==='timestamp' ? 'selected' : '' %>>Timestamp</option>
              <option <%=qs.sortval && qs.sortval.toLowerCase()==='price' ? 'selected' : '' %>>Price</option>
            </select>
            <select id="sortorder" name="sortorder"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-36 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white max-w-36 my-1">
              <option <%=qs.sortorder && qs.sortorder.toLowerCase()==='desc' ? 'selected' : '' %>>Desc</option>
              <option <%=qs.sortorder && qs.sortorder.toLowerCase()==='asc' ? 'selected' : '' %>>Asc</option>
            </select>
          </div>
        </div>
        <button type="submit" class="p-2 bg-blue-400 rounded-md w-36 m-auto">Submit</button>
      </form>
      <div class="mt-5 mb-40">
        <span class="htmx-indicator" id="loading">
          <img src="img/loader.gif" alt="Loading..." class="m-auto h-10" />
        </span>
        <p class="total text-center mb-4 <%= total === 0 ? " text-red-200" : "text-blue-400" %> "><%= total===0
            ? 'No trades found with the requested parameters' : `${total} were found.` %>
        </p>
        <table class="table-fixed w-full lg:max-w-5xl <%= total === 0 && " hidden" %> ">
          <thead>
            <tr>
              <th class="border border-slate-600 p-2 w-6 sm:w-12">Card</th>
              <th class="border border-slate-600 p-2 w-6 sm:w-12">Seller</th>
              <th class="border border-slate-600 p-2 w-6 sm:w-12">Buyer</th>
              <th class="border border-slate-600 p-2 w-2">Price</th>
              <th class="border border-slate-600 p-2 w-6 sm:w-12">Timestamp</th>
            </tr>
          </thead>
          <tbody id="trades">
            <% data.forEach((entry, index)=> { %>
              <tr <%=(index===data.length - 1 && data.length===50) ? `hx-get=${qlery} hx-trigger=revealed
                hx-swap=afterend` : '' %>>
                <td class="border border-slate-600 p-2 break-words text-xs sm:text-base
                  <% if (entry.category === " c") { %> text-gray-500 <% } %>
                    <% if (entry.category==="u" ) { %> text-green-500 <% } %>
                        <% if (entry.category==="r" ) { %> text-blue-500 <% } %>
                            <% if (entry.category==="ur" ) { %> text-purple-500 <% } %>
                                <% if (entry.category==="e" ) { %> text-yellow-600 <% } %>
                                    <% if (entry.category==="l" ) { %> text-yellow-400 <% } %>
                                        "
                                        >
                                        <a target="_blank" rel="noreferrer noopener" class="hover:underline"
                                          href="https://nationstates.net/page=deck/card=<%= entry.card_id %>/season=<%= entry.season %>">
                                          S<%= entry.season %>
                                            <%= entry.card_name %>
                                        </a>
                </td>
                <td class="border border-slate-600 p-2 break-words text-xs sm:text-base">
                  <a target="_blank" rel="noreferrer noopener" class="hover:underline"
                    href="https://nationstates.net/nation=<%= entry.seller %>">
                    <%= entry.seller %>
                  </a>
                </td>
                <td class="border border-slate-600 p-2 break-words text-xs sm:text-base">
                  <a target="_blank" rel="noreferrer noopener" class="hover:underline"
                    href="https://nationstates.net/nation=<%= entry.buyer %>">
                    <%= entry.buyer %>
                </td>
                </a>
                <td class="border border-slate-600 p-2 text-xs sm:text-base">
                  <%= entry.price %>
                </td>
                <td class="border border-slate-600 p-2 break-words text-[0.5rem] sm:text-base">
                  <%= entry.timestamp %>
                </td>
              </tr>
              <% }); %>
          </tbody>
        </table>
      </div>
    </div>
  </main>
  <%- include('./partials/scripts'); %>
  <script>
    async function funky(event) {
      event.preventDefault();
      const formData = new FormData(event.target);
      const queryString = Array.from(formData.entries())
        .map(([key, value]) => {
          if (value) {
            return `${encodeURIComponent(key)}=${encodeURIComponent(value)}`
          }
        })
        .filter(kv => kv)
        .join('&');
      const url = new URL(location);
      const newLoc = `${url.origin}?${queryString.toLowerCase()}`
      history.pushState("", "", newLoc)
      const num = await fetch(`/tradestotal?${queryString}`)
      const count = await num.json()
      if (count) {
        if (count.count === 0) {
          document.querySelector('.total').innerHTML = `<p class="text-red-200 text-center mb-4">No trades found with the requested parameters.</p>`
          document.querySelector('table').classList.add('hidden')
        } else {
          document.querySelector('.total').innerHTML = `<p class="text-center text-blue-400 mb-4">${count.count} were found.</p>`
          document.querySelector('table').classList.remove('hidden')
        }
      }

    }

    document.querySelector("form").addEventListener("submit", (e) => funky(e))

  </script>
</body>

</html>